@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.about-heading{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Josefin Sans', cursive;
    font-weight: bold;
}
.myImg{
    height: 400px;
    width: auto;
}
.text-muted{
    line-height: 29px;
}
.icons{
    margin-top: 25px;
    font-size:35px !important;
    margin-right: 15px;
}