.product-heading {
    text-align: left;
    font-size: 28px;
    font-style: italic;
    margin-left: 15px;
}

.discount {
    text-align: center;
    background-color: silver;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    box-sizing: border-box;
}

.discount-text {
    font-size: 24px;
}

.product-page-heading {
    margin-left: 70px;
    font-size: 30px;
    font-weight: 200;
}

.shoe-img {
    height: 350px;
    width: 300px;
}

.link {
    text-decoration: none;
}

@media only screen and (max-width:600px) {
    .product-page-heading {
        margin-left: 50px;
        font-size: 20px;
    }
}

@media only screen and (min-width:768px) {
    .product-listing-div {
        position: relative;
        top: 20px;
    }

    .single-product-div {
        /* border: 5px solid blue; */
        width: 50%;
        margin: 0 auto;
    }
}

@media only screen and (min-width:1024px) {
    .single-product-div {
        /* border: 5px solid blue; */
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (min-width:1200px) {
    .single-product-div {
        /* border: 5px solid blue; */
        width: 100%;
        margin: 0 auto;
    }
}